---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    user: "1000:1000"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - TZ=America/New_York
      - JELLYFIN_PublishedServerUrl=http://192.168.0.160:8096 #optional
    volumes:
      - /docker/jellyfin/library:/config
      - /home/jwowk/media:/media
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
    networks:
      - npm_net
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
networks:
  npm_net:
    external: true
